.git
.gitignore
.vs
.vscode
.idea

**/bin
**/obj
**/TestResults
**/*.user
**/*.suo
**/*.cache
**/*.tmp

.appdata
docs/
Tests/
.github/
infra/
k8s/
**/.terraform/
**/*.tfstate
**/*.tfstate.*

docker-compose*.yml
.env*
