<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover</Format>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <ExcludeByFile>**/Tests/**,**/obj/**,**/*Designer.cs,**/Infrastructure/DataAccess/Migrations/**,**/Infrastructure/DataAccess/GarageFlowDbContextFactory.cs,**/Infrastructure/DataAccess/AutoMigrateGarageFlowExtensions.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
